@charset "utf-8";
/* CSS Document */ 

@font-face{
 font-family: "inter";
 src: url(fuentes/interregular.ttf) format(ttf);
 font-weight:normal;
 font-style: normal;
}

 @font-face{
 font-family: "interbold";
 src: url(fuentes/interbold.ttf) format(ttf);
 font-weight:bold;
 font-style: normal;
}

h1 {
font-family: 'interbold', sans-serif; 
}
p {
font-family: 'inter', sans-serif; 
}

